.base-content{
	margin-top:0px;
}

.dashboard-wrapper .left-sidebar{
	margin-right:0px;
}

.t-center{
	text-align:center;
}

.t-left{
	text-align:left;
}

.t-right{
	text-align:right;
}

.movable:hover{
	cursor:move;
}

.required{
	font-size:18px;
	color:red;
	font-weight:bold;
}

.movable-content{
	font-size:22px;
	cursor:move;
}

.alert-spacer{
	margin-top:15px;
}

#translation-pop .form-group{
	width:100%;
	display:inline-block;
}

#translation-pop .form-group input[type='text'], #translation-pop .form-group textarea{
	width:65%;
	max-width:65%;
	float:left;
	margin-right:5px;	
}

#translation-pop .form-group *.key{
	width:30% !important;
}

#translation-pop .form-group input[type='text']:first-child{

}

.w100{
	width:100%;
	float:left;
	padding-bottom:4px;
	padding-top:4px;
	margin-top:2px;
	margin-bottom:2px;
}

.w100:hover{
	background:#fcfcfc;
	border-bottom:1px solid #ccc;
}

.w100.sub-2:hover{

	border-bottom:1px solid #bbb;
}

select.clone{
	margin-left:15px;
}

select option[disabled='disabled'], select option[disabled]{
	font-weight:bold;
	padding-left:15px;
	background:#eee;
}

.value-tree-holder{
	width:99%;
	padding-left:1%;
	float:left;
}

.value-tree-holder.tree-depth-0{
	margin-bottom:5px;
	margin-top:5px;
}

.value-tree-holder .label{
	width:100%;
	color:#333;
	float:left;
	text-align:left;
	font-size:12px;
}

.value-tree-holder.tree-depth-1{
	width:99%;
	padding-left:1%;
}

.value-tree-holder.tree-depth-2{
	width:98%;
	padding-left:2%;
}

.value-tree-holder.tree-depth-3{
	width:97%;
	padding-left:3%;
}

.value-tree-holder.tree-depth-4{
	width:96%;
	padding-left:4%;
}

.value-tree-holder.tree-depth-5{
	width:95%;
	padding-left:5%;
}

.form-control.small{
	width:30%
}

.basic-chart{
	width:400px;
	height:400px;
	float:left;
	margin-right:20px;
	margin-bottom:20px;
}

.content-back {
	width: 98%;
	padding: 1%;
	text-transform: uppercase;
	font-weight: bold;
}