@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,700,300,600,400&subset=latin,cyrillic-ext,latin-ext,cyrillic);
@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?45691662');
  src: url('../fonts/fontello.eot?45691662#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff?45691662') format('woff'),
       url('../fonts/fontello.ttf?45691662') format('truetype'),
       url('../fonts/fontello.svg?45691662#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?45691662#fontello') format('svg');
  }
}

