@import 'boilerplate.css';
@import 'fonts.css';
@import 'fontello.css';
@import 'social.css';


/* INCLUDED ALSO IN FCKEDITOR */

html, body{
    font-size:14px;
    color:#333;
    font-family: 'Open Sans', sans-serif;
}

p, h1, h2, h3, h4{
    padding:0px;
    margin:0px;
}

.menu li a:hover, .menu li a{
	-webkit-transition: all 0.5s;
	transition: all 0.5s;	
}

a, .menu li a:hover{
    color:#333;
    outline:none;
}

.base-bg{
	background:#01adb1;
}

.tranisitions{
    -webkit-transition: all 0.5s; /* For Safari 3.1 to 6.0 */
    transition: all 0.5s;
}

div.contacts p {
    margin-bottom: 0px;
    border: 1px solid red;
}