* {
    margin: 0;
    padding: 0;
}

.pi-section p {
    margin-bottom: 0px;
}

.pi-icon-box-vertical .pi-icon-box-icon {
    width: auto;
}

.pi-header-row-fixed .pi-header {
  padding-bottom: 46px;
}